aiohttp
beautifulsoup4
python-telegram-bot
dacite
humanize
python-dateutil
youtube-dl-nightly
coloredlogs
aiofiles
pymorphy3
pyrate-limiter==3.9.0
yt-dlp
gallery-dl
PySocks
aiohttp_socks
telethon
async-lru
openai
elevenlabs
httpx[socks]
tzdata
python-dotenv
moviepy
imageio-ffmpeg
prometheus-client
google-api-python-client
